@import 'src/config/settings';

.Fact {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 100px auto;
    &_sectionTitle {
        font-family: 'Anton';
        position: absolute;
        bottom: 60px;
        right: -180px;
        font-size: 140px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        opacity: 0.05;
        text-transform: uppercase;
    }
    &_container {
        width: 80%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &_background {
        width: 60%;
        height: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    h3 {
        font-family: 'Anton';
        color: $yellow;
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    &_paragraph {
        background-color: $darkBlue;
        margin-left: 30px;
        width: 50%;
        p {
            font-weight: $light;
            font-size: 14px;
            line-height: 22px;
        }
    }
}