@import 'src/config/settings';

.Dashboard {
    width: 100vw;
    height: 100vh;
    color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    &_infos {
        width: 50%;
        height: 100%;
        &_year {
            background-color: $darkBlue;
            width: 100%;
            height: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            padding: 0 20px 20px 0;
            h5 {
                font-family: 'Anton';
                font-weight: $regular;
                font-size: 160px;
                text-align: right;
            }
            span {
                text-align: right;
                font-size: 30px;
                text-transform: uppercase;
                margin-right: 5px;
                margin-bottom: 10px;
                font-weight: $regular;
                letter-spacing: 0.15em;
                opacity: 0.7;
            }
        }
        &_details {
            width: 100%;
            height: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &_location {
                background-color: #333751;
                width: 65%;
                // border: solid 1px green;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                padding-left: 20px;
                div {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
                p {
                    font-size: 60px;
                    font-family: 'Anton', sans-serif;
                }
                span {
                    text-transform: uppercase;
                    font-size: 16px;
                    display: block;
                    margin-bottom: 10px;
                }
            }
            &_numbers {
                width: 35%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .nations {
                    background-color: #494f7c;
                    width: 100%;
                    height: 50%;
                    padding: 40px 25px 0 0;
                    position: relative;
                }
                .sports {
                    background-color: #5e6599;
                    width: 100%;
                    height: 50%;
                    padding: 40px 25px 0 0;
                    position: relative;
                }
                .moreInfo {
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                }
                p {
                    text-align: right;
                    font-size: 60px;
                    font-family: 'Anton', sans-serif;
                }
                span {
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 16px;
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
    &_athletes {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        width: 50%;
        height: 100%;
        background-color: #333751;
        .top {
            width: 100%;
            height: 50%;
            padding: 90px 40px 20px 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
        }
        h4 {
            font-family: 'Anton';
            font-size: 24px;
            line-height: 34px;
        }
        &_text {
            height: 60%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            .scale {
                width: 30%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                &_visual {
                    width: 50px;
                    height: 100%;
                    position: relative;
                    div {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        -webkit-transition: ease .2s width;
                        transition: ease .2s width;
                    }
                    .total {
                        width: 100%;
                        height: 100%;
                        background-color: $yellow;
                    }
                    .male {
                        background-color: $lightYellow;
                    }
                }
                &_explanation {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;
                    margin-left: 20px;
                    -ms-flex-direction: column;
                        flex-direction: column;
                    p {
                        font-family: 'Anton';
                        font-size: 22px;
                        letter-spacing: 0.05em;
                        text-align: right;
                    }
                    img {
                        width: 15px;
                        margin-left: 15px;
                    }
                    &_male {
                        margin-bottom: 20px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: end;
                            -ms-flex-pack: end;
                                justify-content: flex-end;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        p {
                            color: $lightYellow
                        }
                    }
                    &_female {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: end;
                            -ms-flex-pack: end;
                                justify-content: flex-end;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        p {
                            color: $yellow
                        }
                    }
                }
            }
            .stats {
                width: 55%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                .amount {
                    width: 100%;
                    margin-bottom: 20px;
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        display: block;
                    }
                }

                .noFemale {
                  span {
                    font-size: 16px;
                    strong {
                      font-weight: bold;
                      color: $yellow
                    }
                  }
                }
                .ratio {
                    width: 100%;
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        display: block;
                    }
                }
                p {
                    font-family: 'Anton';
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    margin-top: 2px;
                    span.details {
                        font-family: 'Signika';
                    }
                }
            }
        }
        &_graph {
            width: 100%;
            height: 50%;

            &_noFemale {
              position: relative;
              margin-top: 20%;
              span {
                position: relative !important;
                font-size: 20px !important;
                right: 0 !important;
                bottom: 0 !important;
                strong {
                  font-weight: bold;
                  color: $yellow
                }
              }
            }
        }
        .bottom {
            width: 100%;
            height: 50%;
            padding: 10px 20px 0px 30px;
            position: relative;
        }
        &_selector {
            max-width: 150px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;
            div {
                width: 50%;
                background-color: #494f7c;
                text-align: center;
                -webkit-transition: ease .1s all;
                transition: ease .1s all;
                padding: 8px 0;
                &:first-child {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &:last-child {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                &.selected {
                    background-color: $darkBlue;
                }
                &.unSelected {
                    cursor: pointer;
                    &:hover {
                        background-color: #5e6599;
                    }
                }
            }
        }
        &_graph {
            h4 {
                margin-top: 10px;
            }
            span {
                font-size: 10px;
                position: absolute;
                right: 15px;
                bottom: 10px;
            }
            &_visual {

            }
        }
    }
}
