@import 'src/config/settings';

.Ranking {
    width: 100vw;
    height: 100vh;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 40px;
    &_sectionTitle {
        font-family: 'Anton';
        position: absolute;
        bottom: 280px;
        left: -340px;
        font-size: 170px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        opacity: 0.05;
        text-transform: uppercase;
        z-index: -1;
    }
    &_sports {
        &_selector {
            //max-width: 150px;
            width: 180px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            position: relative;
            label {
                margin-bottom: 15px;
            }
            select {
                width: 180px;
                border: none;
                border-radius: 0;
                -webkit-appearance: none;
                padding: 5px 10px;
                text-transform: uppercase;
                font-family: 'Signika';
                letter-spacing: 0.05em;
                &:focus {
                    outline: none;
                }
            }
            div {
                position: absolute;
                top: 73%;
                right: 10px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $darkBlue;
                z-index: 1;
            }
        }
    }
    &_table {
        width: 50%;
        h3 {
            font-family: 'Graduate';
            font-size: 30px;
        }
        &_rows {
            width: 100%;
            &_legend {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 25px 10px 5px 10px;
                color: $white;
                font-size: 13px;
                font-weight: $semi-bold;
                text-transform: uppercase;
                .name {
                    width: 60%;
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    p {
                        width: 25%;
                    }
                }
            }
            &_item {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background-color: $white;
                border-radius: 2px;
                margin: 10px 0;
                padding: 7px 15px;
                color: $black;
                
                .name {
                    width: 60%;
                    p {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                    }
                    .rank {
                        font-size: 16px;
                        font-weight: $bold;
                        margin-right: 20px;
                        width: 20px;
                    }
                    img {
                        width: 20px;
                        height: 13px;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    p {
                        width: 25%;
                    }
                    .gold {
                        color: $gold;
                    }
                    .silver {
                        color: $silver;
                    }
                    .bronze {
                        color: $bronze;
                    }
                }
            }
        }
    }
}