@import 'src/config/settings';

.Ranking {
    width: 100vw;
    height: 100vh;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 40px;
    &_sectionTitle {
        font-family: 'Anton';
        position: absolute;
        bottom: 330px;
        left: -250px;
        font-size: 150px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        opacity: 0.07;
        text-transform: uppercase;
        z-index: -1;
    }
    &_sports {
        &_selector {
            //max-width: 150px;
            
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            position: relative;
            label {
                margin-bottom: 15px;
                font-size: 20px;
            }
            select {
                width: 200px;
                border: solid 1px rgba(255,255,255,0.5);
                border-radius: 0;
                -webkit-appearance: none;
                padding: 8px 15px;
                text-transform: uppercase;
                font-family: 'Signika';
                letter-spacing: 0.05em;
                color: $white;
                background-color: $darkBlue;
                &:focus {
                    outline: none;
                }
            }
            div {
                position: absolute;
                top: 73%;
                left: 175px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $white;
                z-index: 1;
            }
        }
    }
    &_table {
        width: 46%;
        margin-top: 30px;
        h3 {
            font-family: 'Graduate';
            font-size: 30px;
        }
        &_rows {
            width: 100%;
            &_legend {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 45px 10px 5px 10px;
                color: $white;
                font-size: 13px;
                font-weight: $semi-bold;
                text-transform: uppercase;
                .name {
                    width: 60%;
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    &_container {
                        width: 25%;
                        div.goldMedal {
                            width: 10px;
                            height: 10px;
                            border-radius: 50px;
                            background-color: $gold;
                            margin: 0 auto;
                        }
                        div.silverMedal {
                            width: 10px;
                            height: 10px;
                            border-radius: 50px;
                            background-color: $silver;
                            margin: 0 auto;
                        }
                        div.bronzeMedal {
                            width: 10px;
                            height: 10px;
                            border-radius: 50px;
                            background-color: $bronze;
                            margin: 0 auto;
                        }
                    }
                }
            }
            &_item {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 10px 15px;
                color: $white;
                &:not(:last-child) {
                    border-bottom: solid 1px rgba(230, 230, 232, 0.3);
                }
                .name {
                    width: 60%;
                    p {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                    }
                    .rank {
                        font-size: 16px;
                        font-weight: $bold;
                        margin-right: 20px;
                        width: 20px;
                    }
                    img {
                        width: 20px;
                        height: 13px;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    p {
                        width: 25%;
                    }
                    .gold {
                        color: $gold;
                    }
                    .silver {
                        color: $silver;
                    }
                    .bronze {
                        color: $bronze;
                    }
                }
            }
        }
        .rankingSwitch {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 150px;
            margin: 30px auto 0 auto;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            div {
                cursor: pointer;
            }
            div.selected {
                background-color: #333751;
                font-weight: $semi-bold;
            }
        }
    }
    &_graphs {
        width: 45%;
        position: relative;
        &_container {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        h4 {
            margin-bottom: 40px;
            font-size: 20px;
            .asterisque {
                position: relative;
                margin-right: 5px;
                &:after {
                    content: '*';
                    position: absolute;
                    right: -4px;
                    top: 3px;
                    font-size: 10px;
                    color: $white;
                }
            }
        }
        .titleLegend {
            position: absolute;
            left: 0;
            top: 26px;
            font-size: 11px;
        }
        &_option {
            width: 45%;
            height: 320px;
            input {
                width: 100%;
                background-color: transparent;
                border-right: none;
                border-left: none;
                border-top: none;
                border-bottom: solid 1px $white;
                color: $white;
                padding-bottom: 5px;
                &.red {
                    &:focus {
                        color: $red;
                        outline: none;
                        border-bottom: solid 1px $red;
                    }
                }
                &:focus {
                    color: $yellow;
                    outline: none;
                    border-bottom: solid 1px $yellow;
                }
            }
            p {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                strong {
                    font-weight: $bold;
                }
            }
            .chart {
                position: relative;
                .percentage {
                    font-weight: $semi-bold;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 53%;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                    &.red {
                        color: $red;
                    }
                    &.yellow {
                        color: $yellow;
                    }
                    span {
                        font-size: 18px;
                    }
                }
            }
            .pib {
                margin-top: 20px;
            }
        }
    }
}