@import 'src/config/settings';

.Ranking {
    width: 100vw;
    height: 100vh;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    &_table {
        width: 50%;
        h3 {
            font-family: 'Graduate';
            font-size: 30px;
        }
        &_rows {
            width: 100%;
            &_legend {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 15px 10px;
                color: $white;
                font-size: 18px;
                font-family: 'Anton';
                .name {
                    width: 60%;
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                }
            }
            &_item {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background-color: $white;
                border-radius: 2px;
                margin: 15px 0;
                padding: 15px 20px;
                color: $black;
                &:not(:last-child) {
                    display: none;
                }
                .name {
                    width: 60%;
                    p {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                    }
                    .rank {
                        font-size: 16px;
                        font-weight: $bold;
                        margin-right: 25px;
                        width: 20px;
                    }
                    img {
                        width: 20px;
                        height: 13px;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .medals {
                    width: 40%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                            font-size: 18px;
                            font-family: 'Anton', sans-serif;
                    text-align: center;
                    .gold {
                        color: $gold;
                        font-weight: $bold;
                    }
                    .silver {
                        color: $silver;
                        font-weight: $bold;
                    }
                    .bronze {
                        color: $bronze;
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}