@import 'src/config/settings';

.Home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
    &_logo {
        position: fixed;
        left: 20px;
        bottom: 10px;
        max-width: 60px;
        width: 100%;
        z-index: 10;
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &:hover {
                span {
                    opacity: 1;
                    margin-left: 10px;
                }
            }
            img {
                width: 100%;
                height: 30px;
            }
            span {
                color: $white;
                white-space: nowrap;
                font-size: 10px;
                font-weight: $bold;
                letter-spacing: 0.02em;
                opacity: 0;
                text-transform: uppercase;
                -webkit-transition: ease .2s all;
                transition: ease .2s all;
            }
        }
    }
    &_loader {
        z-index: 10;
        position: relative;
        top: 50%;
        width: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        &_line {
            position: absolute;
            left: 0;
            width: 0%;
            height: 2px;
        }
        &_lineAfter {
            display: none;
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            background: -webkit-gradient(linear, left top, right top, from(#003e76),color-stop(33%, #ff0000),color-stop(66%, #ffce01),to(#179a13));
            background: linear-gradient(to right, #003e76 0%,#ff0000 33%,#ffce01 66%,#179a13 100%);
        }
    }
    &_background {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        &.front {
            z-index: 1;
        }
        &.back {
            z-index: 0;
        }
    }
    &_backgroundOverlay {
        width: 100%;
        height: 220px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-image: url('/assets/img/bottom_home.png');
        background-size: cover;
        background-position: top center;
    }
    &_title {
        font-family: 'Anton';
        color: rgba(255,255,255,0.8);
        //opacity: 1;
        text-transform: uppercase;
        position: absolute;
        left: 3%;
        top: 28%;
        text-align: right;
        h1 {
            font-size: 10vw;
            color: $yellow;
        }

        .date {
            position: relative;
            z-index: 1;
            opacity: 0;
            div {
                width: 100px;
                height: 2px;
                background-color: $white;
                margin: 25px 5px 15px auto;
            }
            h3 {
                font-size: 3vw;
                letter-spacing: 0.1em;
                color: $white;
            }
        }
        .title {
          &.one {
            //padding-right: 100px;
            opacity: 0;
          }
          &.two {
            //padding-right: 100px;
            opacity: 0;
          }
        }
    }
    .scroller {
        width:25px;
        height:40px;
        position:absolute;
        left:50%;
        bottom: 30px;
        -webkit-transform:translateX(-50%);
                transform:translateX(-50%);
        opacity: 1;
        cursor:pointer;
        z-index: 99;
        &_background {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $yellow;
            position: relative;
            top: 0px;
            -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.25);
                    box-shadow: 0px 2px 8px rgba(0,0,0,.25);
            margin: 0 auto;
            cursor: pointer;
            -webkit-transition: all .1s ease;
            transition: all .1s ease;
            &:hover {
                top: -5px;
                background: $yellow;
                -webkit-transition: all .2s ease;
                transition: all .2s ease;
            }
            div {
                width: 100%;
                position: relative;
                -webkit-animation: bounce 4s infinite;
                        animation: bounce 4s infinite;
                svg {
                    width: 40px;
                    height: 40px;
                    padding: 7.5px;
                    .path {
                        fill: none;
                        stroke: #ffffff;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }
                }
            }
        }
    }
}
