.MoreInfo {
    border: solid 2px #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    -webkit-transition: ease .2s transform;
    transition: ease .2s transform;
    &:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    &.close {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        &:hover {
            -webkit-transform: rotate(45deg) scale(1.1);
                    transform: rotate(45deg) scale(1.1);
        }
    }
    .vertical, .horizontal {
        pointer-events: none;
        position: absolute;
        background-color: #fff;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .vertical {
        width: 2px;
        height: 15px;
    }
    .horizontal {
        width: 15px;
        height: 2px;
    }
}