/** MIXINS **/


/** VARIABLES **/
$black: #06000a;
$white: #e6e6e8;
$red: #F06543;
$yellow: #f2b632;
$darkYellow: #e0a31f;
$lightYellow: #ffd270;
$lightGrey: #b5b5b7;
$darkGrey: #677077;
$darkBlue: #252839;
$gold: #e5c100;
$silver: #c0c0c0;
$bronze: #614e1a;

$light: 200;
$regular: normal;
$semi-bold: 500;
$bold: bold;