/** MIXINS **/


/** VARIABLES **/
$black: #06000a;
$white: #e6e6e8;
$red: #c43235;
$purple: #300032;
$darkBlue: #001124;
$gold: #ffd700;
$silver: #c0c0c0;
$bronze: #614e1a;

$light: 200;
$regular: normal;
$bold: bold;