@import 'src/config/settings';

.Map {
    position: relative;
    width: 100vw;
    height: 100vh;
    .is-active {
        fill: white;
    }
    
    .info-panel {
        width: 250px;
        height: 150px;
        background-color: white;
        position: absolute;
    }
    svg {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}