@import 'src/config/settings';

.Map {
    position: relative;
    width: 100vw;
    height: 100vh;
    .is-active {
        // fill: $red;
    }
    svg {
        display: block;
        margin: 0 auto;
        path {
            fill: $lightGrey;
            stroke: $darkBlue;
            stroke-width: 0.5px;
        }
        path.active {
            fill: $yellow;
        }
    }
}