@import 'src/config/settings';

.Popin {
    //position: absolute;
    // background-color: rgba(0,0,0,0.5);
    width: 0%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $darkBlue;
    position: relative;
    z-index: 10;
    &--overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        opacity: 0;
    }
    &_container {
        background-color: $darkBlue;
        margin-left: -1000px;
        padding: 60px;
        position: relative;
        height: 100%;
            -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.31);
                    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.31);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        span {
            position: absolute;
            right: 15px;
            top: 15px;
            font-weight: $bold;
            cursor: pointer;
        }
        &_list {
            width: 100%;
            h4 {
                font-family: 'Anton';
                font-size: 18px;
                line-height: 28px;
                font-weight: $regular;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 30px;
                    height: 2px;
                    background-color: $white;
                }
            }
            ul {
                margin-top: 50px;
                &.columns {
                    -webkit-columns: 2;
                            columns: 2;
                }
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
}