@import 'src/config/settings';

.Loader {
    position: fixed;
    // position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;

    &.hidden {
        animation: fadeOut 5s;
        animation-fill-mode: forwards;
    }

    .loaderAnim{
        position: relative;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logoAnimated {
        width: 60%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
